name: CI/CD
on: push
permissions:
  contents: write
jobs:
  web_job:
    name: Web deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"
      - run: echo "API_BASE_URL=https://medicareapplication.fly.dev"  > clientFlutter/.env
      - run: |
          cd clientFlutter &&
          flutter pub get &&
          flutter build web --release --base-href /${{ github.event.repository.name }}/
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: clientFlutter/build/web
